.buttonLogin {
  position: relative;
  background: var(--green-medium);
  border-radius: 8px;
  flex: none;
  color: var(--white-light);
  font-family: Inter;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
  border: none;

  &:active {
    background-color: #0F3620;
  }

  &:focus {
    background: #1e4b29;
    border: 2px solid #9db5ff;
    transition: all 3s ease-out;
  }

  &:hover {
    background: #50935a;
    border: none;
    color: #ffffff;
  }
  &:disabled {
    background: var(--white-dark);
    cursor: not-allowed;
    color: var(--white-darkest);

  }

  

}
